body{
    background-image:url(assest/mountain.jpg) ;
    opacity: 8px;
    background-repeat: no-repeat;
    background-size: cover;

}
.abc{
    background-color:pink;
    margin: 100px 400px 20px  400px;

}
.fm{
    border: 5px solid yellow;
    border-style: groove;
    border-color: blanchedalmond;
    text-align: center;
    padding: 15px 15px 15px 15px;
}

.drop{
    width: 360px;
}
.git{
    background-color: aqua;
    font-size: larger;
}
.pa{
    color:white;
    font-size: 20px;
}
